@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
section{
    width: 600px;
    height: 680px;
    background-color: #EAEAEA;
    margin: 0 auto;
}
a{
    color: black;
    text-decoration:none;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
}
button{
    width: 150px;
    height: 60px;
    font-size: 25px;
    background-color: #D8A14F;
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    display: block;
}
p{
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}
input{
    display: block;
    width: 400px;
    height: 80px;
    font-size: 20px;
    border: solid 1px black;
    padding-left: 50px;
    margin: 0 auto;
}
#bottom{
    margin-top: 50px;
    text-align: center;
}